footer {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,1);
  margin-top: auto;
  width: 100%;
  color: white;
}

.footer-item {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

/*--------MOBILE------------*/

@media only screen
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer-item {
      padding: 10px 0px 0px 0px;
      text-align: center;
      margin: auto;
    }

    .created-by {
      display: none;
    }

    .login-hero img {
      width: 100%;
    }
}
