footer {
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,.6);
  margin-top: auto;
  width: 100%;
}

.footer-item {
  padding-top: 10px;
}
