header {
  flex: 2;
  background-color: rgba(0,0,0,.6);
  position: fixed;
  height: 75px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  padding-top: 10px;
}

header a {
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
}

.header-logo {
  width: 70px;
}

.header-logo img {
  width: 100%;
}
