.page-top {
  background-image: url(../images/beans.jpg);
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 400px;
  padding-bottom: 50px;
}

/*-------------SEARCH BAR----------*/

.search-bar {
  padding-bottom: 100px;
}

.shopsearch {
    text-align: center;
}

.search-bar form {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.search-bar input {
  display: block;
  margin: 5px auto;
}

.location {
  width: 50%;
}

.submit {
  width: 30%;
}

/*----- END SEARCH BAR----*/
.title {
  flex-basis: 60px;
  padding-top: 160px;
  padding-bottom: 15px;
  font-size: 85px;
  font-weight: 900;
}

.subtitle {
  width: 50%;
  font-size: 25px;
}

.home-text {
  text-align: center;
  width: 45%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 40px;
}

.shopflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(8,64,129,.6);

}

/*---------MOBILE----------*/

@media only screen
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .submit {
      width: 100%;
    }

    .location {
      border: 1px black solid;
    }
  }
