.page-top {
  background-image: url(../images/beans.jpg);
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 400px;
  padding-bottom: 50px;
}

.search-bar form {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.title {
  flex-basis: 60px;
  padding-top: 160px;
  padding-bottom: 15px;
  font-size: 85px;
  font-weight: 900;
}

.subtitle {
  width: 50%;
  font-size: 25px;
}

.home-text {
  text-align: center;
  width: 45%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 40px;
}
