.container {
  width: 100%;
}

.flex-outer {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.flex-outer li{
  padding: 10px 0px;
}

form {
  border: 1px solid black;
  margin: 30px;
  padding: 0px 10px;
  text-align: left;
}

label {
  padding-right: 10px;
}

input {
  float: right;
}

.clear {
  clear: both;
}

body {
  height: 100%;
}


.login-hero {
  width: 100%;
  margin: auto;
  background-color: #ebe9ec;
}

.login-hero img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  width: 350px;
  margin: auto;
}
