.container {
  width: 100%;
  padding-bottom: 60px;
}

.flex-outer {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.flex-outer li{
  padding: 10px 0px;
}

.login-form-container {
  text-align: center;
}

.login-form {
  border: 1px solid black;
  margin: 30px;
  padding: 0px 10px;
  text-align: left;
}

.login-form label {
  padding-right: 10px;
}

.login-form input {
  float: right;
}

.clear {
  clear: both;
}

.login-hero {
  width: 100%;
  margin: auto;
  background-color: rgba(0,0,0,.6);
}

.login-hero img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
