.shop-img {
  width: 50%;
}

.shop-text {
  width: 50%;
}

article {
  width: 40%;
  display: inline-block;
  border: 1px black solid;
  flex-grow: 1;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10%;
  line-height: 20px;
  background-color: white;

}

article img {
  width: 100%;
  border: 1px black solid;
  border-radius: 5%;
}

/*-------INTERACT NAV----------*/

.shop-text-container form  {
  display: none;
}

.phone {
  display: none;
}

.shop-img-container {
  width: 40%;
}

.shop-text-container {
  width: 60%;
}

.shop-text-container img {
  width: 33%;
}


.interact {
  width: 100%;
  height: 100px;
  float: right;
  padding-top: 20px;
}

.interact-buttons {
  display: flex;
  display: inline-block;
  width: 33%;
}

.interact-buttons img {
  border-color: white;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  display: inline-block;
}

/*---------MOBILE----------*/

@media only screen
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .shop-text-container form {
      display: inline-block;
      width: 50%;
    }

}
