.login-hero {
  width: 100%;
  margin: auto;
  background-color: rgba(0,0,0,.6);
}

.login-hero img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-hero {
  height: 200px;
}


.greeting {
  text-align: center;
}

.favorites-display {
  margin-top: 15px;
}
